# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Spring Boot / Maven
backend/target/

# IDE
.vscode/
.idea/
frontend/.vscode/
backend/.vscode/

# OS
.DS_Store
Thumbs.db

# Env / secrets
*.env
application-local.properties