<section class="news-section">
  <div class="news-container">
    <div class="section-header">
      <span class="section-kicker">Actualidad</span>

      <div class="section-title-row">
        <div>
          <h2>Noticias destacadas</h2>
          <p>
            Información actualizada sobre obras, actividades, servicios y novedades
            de la ciudad.
          </p>
        </div>

        <a routerLink="/noticias" class="view-all">Ver todas</a>
      </div>
    </div>

    <div class="news-grid">
      @if (noticiaPrincipal) {
        <article class="main-news-card">
          <img
            class="news-image main-image"
            [src]="noticiaPrincipal.imagen"
            [alt]="noticiaPrincipal.titulo"
          />

          <div class="news-content">
            <span class="news-category">{{ noticiaPrincipal.categoria }}</span>
            <h3>{{ noticiaPrincipal.titulo }}</h3>
            <p>{{ noticiaPrincipal.bajada }}</p>
            <a [routerLink]="['/noticias', noticiaPrincipal.id]">Leer más →</a>
          </div>
        </article>
      }

      <div class="secondary-news">
        @for (noticia of noticiasSecundarias; track noticia.id) {
          <article class="news-card">
            <img
              class="news-image small-image"
              [src]="noticia.imagen"
              [alt]="noticia.titulo"
            />

            <div class="news-content">
              <span class="news-category">{{ noticia.categoria }}</span>
              <h3>{{ noticia.titulo }}</h3>
              <p>{{ noticia.bajada }}</p>
              <a [routerLink]="['/noticias', noticia.id]">Leer más →</a>
            </div>
          </article>
        }
      </div>
    </div>
  </div>
</section>